{% extends 'portal/patient_workspace_base.html' %}{% load static %}
{% block extra_css %}{{ block.super }}<link rel="stylesheet" href="{% static 'css/backoffice.css' %}">{% endblock %}
{% block patient_workspace_heading_actions %}<a class="console-button console-button--quiet" href="{% url 'portal:patient-detail' appointment.patient_id %}?tab=appointments">Back to appointments</a>{% endblock %}
{% block patient_workspace_content %}<header class="patient-workspace-toolbar"><h2>{{ appointment.get_appointment_type_display }}</h2><p>{{ appointment.starts_at|date:'j F Y, H:i' }} SAST</p></header><div class="backoffice">{% include 'portal/includes/appointment_detail_content.html' %}</div>{% endblock %}
