{% extends 'portal/patient_page_base.html' %}{% load static workspace_ui %}
{% block extra_css %}{{ block.super }}<link rel="stylesheet" href="{% static 'css/backoffice.css' %}">{% endblock %}
{% block patient_breadcrumbs %}{% breadcrumbs 'My Appointments' 'portal:patient-appointments' 'Appointment' %}{% endblock %}
{% block patient_heading %}<header class="patient-page-heading"><div><h1>{{ appointment.get_appointment_type_display }}</h1><p>{{ appointment.starts_at|date:'j F Y, H:i' }} SAST</p></div></header>{% endblock %}
{% block patient_content %}<div class="backoffice">{% include 'portal/includes/appointment_detail_content.html' %}</div>{% endblock %}
